html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b,
strong, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, .table-forms .tfoot-buttons, thead, tr, th, td, article, .article, aside, canvas, details, embed, figure, figcaption, footer, .footer, header, hgroup, menu, nav, .nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, .article, aside, details, figcaption, figure, footer, .footer, header, hgroup, menu, nav, .nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }


html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 75%;
  line-height: 1.4em;
  color: #1f2c33;
  background-color: #ebeef0;
  margin-bottom: 60px;
  min-width: 950px; }

a:link {
  color: #0275b8;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }
a:visited {
  color: #0275b8;
  text-decoration: none; }
a:hover {
  outline: 0;
  color: #0275b8;
  border-bottom: 1px solid rgba(2, 117, 184, 0.5); }
a:focus {
  position: relative;
  color: #0275b8;
  border-bottom: 1px solid rgba(2, 117, 184, 0.5); }
a:active {
  outline: 0;
  color: #0275b8;
  border-bottom: 1px solid rgba(2, 117, 184, 0.5); }

h1 {
  font-size: 1.75em;
  line-height: 1.2em; }


:-ms-input-placeholder {
  color: #6d6d6d !important; }


nav a:link, .nav a:link, nav a:visited, .nav a:visited, nav a:hover, .nav a:hover, nav a:focus, .nav a:focus, nav a:active, .nav a:active, .ui-tabs-nav li a, .ui-tabs-nav li.ui-state-disabled a {
  border: none; }

.header-title {
  position: relative;
  width: 100%;
  padding: 0 0 6px 0;
  margin: 0 0 10px 0;
  text-align: right;
  border-bottom: 1px solid #dfe4e7; }
  .header-title h1 {
    text-align: left; }

article, .article {
  padding: 10px 10px 0 10px; }

.table {
  display: table; }

.cell {
  display: table-cell;
  vertical-align: top; }

.table-forms-container, .browser-warning-container {
  margin: 0 0 10px 0;
  background-color: #fff;
  border: 1px solid #dfe4e7;
  padding: 10px;
  text-align: left; }
  .table-forms-container > .ui-tabs-nav, .browser-warning-container > .ui-tabs-nav {
    margin: -10px -10px 10px -10px; }

.table-forms {
  display: table;
  width: 100%;
  color: #1f2c33; }
  .table-forms li {
    display: table-row; }
  .table-forms .multiselect-suggest li, .table-forms .multiselect-matches li {
    display: block; }
  .table-forms th {
    color: #768d99;
    padding: 0 5px 0 0;
    text-align: left; }
    .table-forms th:last-child {
      padding: 0; }
  .table-forms tfoot .table-forms-td-right, .table-forms .tfoot-buttons .table-forms-td-right {
    padding-top: 5px; }
  .table-forms tfoot button, .table-forms .tfoot-buttons button {
    margin: 0 10px 0 0; }
  .table-forms .table-forms-td-left {
    display: table-cell;
    padding: 5px 0;
    text-align: right;
    vertical-align: top;
    width: 15%;
    white-space: nowrap; }
    .table-forms .table-forms-td-left label {
      display: block;
      height: 24px;
      line-height: 24px; }
  .table-forms .table-forms-td-right {
    display: table-cell;
    padding: 5px 0 5px 10px;
    vertical-align: middle;
    width: 85%; }
    .table-forms .table-forms-td-right td {
      padding: 5px 5px 5px 0;
      position: relative; }
      .table-forms .table-forms-td-right td.td-drag-icon {
        padding: 0 11px 0 0;
        vertical-align: middle; }
      .table-forms .table-forms-td-right td .drag-icon {
        position: absolute;
        top: 5px;
        margin-right: 5px; }
      .table-forms .table-forms-td-right td.center {
        text-align: center;
        vertical-align: middle; }
        .table-forms .table-forms-td-right td.center .btn-grey {
          margin: 3px 0; }
  .table-forms h4 {
    margin-bottom: -5px; }
  .table-forms .hor-list li {
    display: inline-block; }

input {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 1em; }
  
textarea {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 1em;
  padding: 4px 5px;
  margin: 0;
  overflow: auto; }

input[type="checkbox"], input[type="radio"] {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  overflow: hidden;
  width: 13px;
  height: 13px;
  background: none; }

input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="time"] {
  margin: 0;
  padding: 0 5px;
  min-height: 24px; }

.multiselect, input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="time"], input[type="file"], textarea, select {
  border: 1px solid #acbbc2;
  color: #1f2c33;
  background-color: #fff;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out; }
  .multiselect:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="time"]:focus, input[type="file"]:focus, textarea:focus, select:focus {
    border-color: #02659f; }

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  vertical-align: middle; }

button {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 1em;
  color: #fff;
  background-color: #0275b8;
  border: 1px solid #0275b8;
  margin: 0;
  padding: 0 11px;
  min-height: 24px;
  cursor: pointer;
  outline: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: border-color, background-color 0.2s ease-out;
  -moz-transition: border-color, background-color 0.2s ease-out;
  transition: border-color, background-color 0.2s ease-out; }
  button:hover {
    color: #fff;
    background-color: #02659f;
    border-color: #02659f; }
  button:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(30, 135, 227, 0.35);
    -moz-box-shadow: 0 0 0 2px rgba(30, 135, 227, 0.35);
    box-shadow: 0 0 0 2px rgba(30, 135, 227, 0.35);
    color: #fff;
    background-color: #02659f;
    border-color: #02659f; }
  button:active {
    color: #fff;
    background-color: #02659f;
    border-color: #02659f; }

.ui-tabs-nav {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ebeef0; }
  .ui-tabs-nav li {
    display: inline-block; }
    .ui-tabs-nav li a {
      padding: 8px 10px;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .ui-tabs-nav li a:hover {
        background-color: #e8f5ff; }
      .ui-tabs-nav li a:focus {
        background-color: #e8f5ff; }
      .ui-tabs-nav li a:active {
        background-color: #e8f5ff; }
    .ui-tabs-nav li.ui-tabs-active:first-child {
      border-left: 0; }
    .ui-tabs-nav li.ui-tabs-active a {
      padding: 8px 10px 6px 10px;
      background-color: transparent;
      color: #1f2c33;
      text-decoration: none;
      cursor: default;
      border-bottom: 3px solid #0275b8; }